{% extends "munimap/pages/base.html" %}

{% from "munimap/macros/forms.html" import input_no_required %}

{% set pagetitle = _('Login') %}

{% block container %}
<section class="page-slice">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="{$ request.url $}">
          {$ form.csrf_token $}
          {$ input_no_required(form.username, class='form-control', placeholder=_('Username') ) $}
          {$ input_no_required(form.password, class='form-control', placeholder=_('Password') ) $}
          <button type="submit" class="btn btn-success">{$ _('Login') $}</button>
          <a href="{$ url_for('user.recover_password') $}" class="btn btn-warning">
            {$ _('Forgot Password') $}
          </a>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-5">
      <p class="low-margin">
        <strong>Kein Zugang?</strong></p>
      <p>
        {% autoescape false %}
        {$ base_config.get('NO_LOGIN_INFORMATION') $}
        {% endautoescape %}
      </p>
    </div>

    </div>
  </div>
</section>
{% endblock %}