{% extends "munimap/pages/base.html" %}

{% from "munimap/macros/forms.html" import input %}

{% set pagetitle = _('Please add new Password') %}

{% block container %}
<section class="page-slice">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="{$ request.url $}">
          {$ form.csrf_token $}
          {$ input(form.password, class='form-control', placeholder=_('New Password') ) $}
          {$ input(form.password2, class='form-control', placeholder=_('New Password repeat') ) $}
          <button type="submit" class="btn btn-success">
            {$ _('Save') $}
          </button>
          <a href="{$ url_for('user.login') $}" class="btn btn-warning">
            {$ _('Abort') $}
          </a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
