{% extends "munimap/pages/base.html" %}

{% set pagetitle = _('Digitize Admin') %}

{% block static_app_js %}
  {% assets "static-digitize-app-js" %}
    <script type="text/javascript" src="{$ ASSET_URL $}"></script>
  {% endassets %}
{% endblock %}

{% block javascript %}
    {% assets "vendor-libs-js" %}
        <script type="text/javascript" src="{$ ASSET_URL $}"></script>
    {% endassets %}
    {% assets "digitize-admin-js" %}
        <script type="text/javascript" src="{$ ASSET_URL $}"></script>
    {% endassets %}    
{% endblock %}

{% block container %}
<section class="page-slice">
  <div class="container" ng-controller="ModalController">
  {% block digitize_admin_content %}
  {% endblock %}
  </div>
<section>

<section class="page-slice">
  <div class="container">
    <hr>
    {% block footer_content %}
    <a href="{$ url_for('.admin', name=name) $}" class="btn btn-default">
      {$ _('Back to Overview') $}
    </a>
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block modal_container %}
<script type="text/ng-template" id="confirm-delete-modal.html">
  <div class="modal-header">
    <h3 class="modal-title">{$ _('Confirm delete') $}</h3>
  </div>
  <div class="modal-body">
    {{ modalText }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">{$ _('Cancel') $}</button>
    <a href="{{ targetUrl }}" class="btn btn-danger" type="button">{$ _('Delete') $}</a>
  </div>
</script>
{% endblock %}