*.db
*.pyc
*.egg-info
.DS_Store
.idea/
.vagrant
.webassets-cache
dev/anol
dev/data/cache_data
dev/mapfish
dev/munimap
dev/print-output
dev/printqueue.sqlite
dev/tmp/
dist/
docker/imposm/imposm_data/*.pbf
docker/postgres/postgresql_data
docker/tmp
docs/build
munimap/static/build
node_modules
projects/*/assets
