*.db
*.pyc
*.egg-info
.DS_Store
.idea/
.vagrant
dev/anol
dev/configs/mapfish/icons/
dev/configs/mapfish/*.yaml
!dev/configs/mapfish/config.yaml
dev/configs/mapfish/*.jrxml
dev/data/cache_data
dev/mapfish
dev/geostyler-cli
dev/munimap
dev/print-output
dev/printqueue/
dev/tmp/
dev/venv/
dev/muni_venv/
muni_venv/
dist/
build/
docker/munimap-postgis-mapbender/postgresql_data
docker/munimap-postgis/postgresql_data
docker/munimap-mapserver/logs
docker/munimap-docs/build/
munimap/frontend/build
munimap/test/logs/*.log
node_modules
*.code-workspace
/docker/munimap-mapproxy/mapproxy_cache_data/
/munimap/static/
