*.db
*.pyc
*.egg-info
.DS_Store
.idea/
.vagrant
.webassets-cache
dev/anol
dev/data/cache_data
dev/mapfish
dev/munimap
dev/print-output
dev/tmp/
dev/venv/
dev/muni_venv/
dist/
build/
docker/munimap-mapproxy/mapproxy_logs
docker/munimap-mapproxy/mapproxy_cache_data
docker/munimap-postgis-mapbender/postgresql_data
docker/munimap-postgis/postgresql_data
docker/munimap-mapserver/logs
docker/munimap-docs/build/
munimap/static/build
munimap/test/logs/*.log
node_modules
projects/*/assets
munimap/assets/
dev/printqueue/
