{% extends "munimap/pages/base.html" %}

{% set pagetitle = 'Impressum' %}

{% block container %}

<section class="page-slice">
  <div class="container">
<p>
  <strong>Anbieterkennung</strong>
  <br>
  <br>	
  Stadt Bielefeld
  <br>
  Niederwall 23
  <br>
  33602 Bielefeld
  <br>
  Telefon: 0521 51-0
  <br>
  Fax: 0521 51-6599
  <br>	
  E-Mail: <a href='mailto:posteingang@bielefeld.de'>posteingang@bielefeld.de</a>
  <br>
  <br>	
  Die Stadt Bielefeld ist eine K&ouml;rperschaft des &Ouml;ffentlichen Rechts. Sie wird vertreten durch 
  den Oberb&uuml;rgermeister Pit Clausen.
  <br>
  <br>
  Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &#167; 27 a Umsatzsteuergesetz DE 124001953
  <br>
  <br>
  <a href='https://www.bielefeld.de/impressum' target='_blank'>Impressum</a> des st&auml;dtischen Webauftritts <a href='http://www.bielefeld.de' target='_blank'>www.bielefeld.de</a>.
  <br>
  <br>
  Die Angebote unter den <abbr lang='en' title='Uniform Resource Locator'>URL</abbr>s <br><br>
  - https://stadtplan.bielefeld.de und <br>
  - www.bielefeld01.de  und <br>
  - https://anwendungen.bielefeld.de<br><br>
  sind Erg&auml;nzungen des Internetauftritts der Stadt Bielefeld (www.bielefeld.de). Es handelt sich um 
  Anwendungen, die Daten verschiedener Dienststellen der Stadt Bielefeld dynamisch durch Zugriff 
  auf Fachapplikationen darstellen.
  Sie werden durch den Informatik-Betrieb Bielefeld (st&auml;dtische <abbr title='Datenverarbeitung'>DV</abbr>) 
  und die Stadtwerke Bielefeld <abbr title='Gesellschaft mit beschr&auml;nkter Haftung'>GmbH</abbr> bereitgestellt.
  <br><br><br>
</p>
<p>
  <strong>Inhaltlich verantwortlich f&uuml;r diesen Dienst:</strong>
  <br>
  <br>
  Stadt Bielefeld
  <br>
  - Amt f&uuml;r Geoinformation und Kataster -
  <br>
  Rainer Nu&szlig;
  <br>
  August-Bebel-Str. 92
  <br>
  33602 Bielefeld
  <br>
  <br>
</p>
  </div>
</section>
{% endblock %}