{% extends "munimap/base.html" %}

{% block body %}

  {% block navbar %}
  <header class="header">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="{$ url_for('munimap.index') $}" class="navbar-brand">
            <img class="header-logo" src="{$ url_for('static', filename='img/logo-navbar-header.png') $}" alt="Logo">
          </a>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}

  {% block page_title %}
  <div class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <h2>{$ pagetitle | safe $}</h2>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block container %}
  {% endblock %}

  {% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <p class="text-muted">
            &copy; Stadt Bielefeld, Amt für Geoinformation und Kataster
          </p>
        </div>

        <div class="col-xs-6">
          <ul class="list-unstyled footer-menu text-muted pull-right">
            {% if not current_user.is_anonymous %}
              <li>
                <a href="{$ url_for('user.logout') $}">
                  {$ _('Logout') $}
                </a>
                ({$ current_user.name $})
              </li>
            {% endif %}
            <li>
            <a href="{$ url_for('frontend.pages', name='about') $}">
              {$ _('About') $}
            </a>
            </li>
            <li>
              <a href="{$ url_for('frontend.pages', name='nutzungsbedingungen') $}">
                {$ _('Terms of Use') $}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}
{% endblock %}

{% block javascript %}
  {$ super() $}
  <script type="text/javascript" src="{$ url_for('static', filename=resolve_asset('vendor.js')) $}"></script>
  <script type="text/javascript" src="{$ url_for('static', filename=resolve_asset('static_app.js')) $}"></script>
{% endblock %}
