{% extends "munimap/pages/base.html" %}

{% set pagetitle = 'Informationen zur bielefeldKARTE' %}

{% block container %}

<section class="page-slice">
  <div class="container">
    <div class="static-content">
        <p>Die bielefeldKARTE ist die grundlegend neu entwickelte, vektorbasierte Basiskarte des Bielefelder Stadtplans.</p>
        <p>Die Visualisierung der Karte erfolgt in einer neu entwickelten Kartenanwendung. Mit einer neuen Oberfläche in moderner Optik werden der Stadtplan und die weiteren Themenkarten des Bielefelder onlineKARTENdienstes einfacher, intuitiver und auch mit Smartphones und Tablets nutzbar. Die Verwendung zeitgemäßer Technologie ermöglicht performante, bildschirmfüllende Darstellungen und mehr Funktionen.</p>
        <p>Stand: 2021-08-24</p>
    </div>
  </div>
</section>
{% endblock %}

