{% macro macro_input(name, field, required, maxLength="64", type="text") -%}
<div class="form-group" ng-class="{'has-error': form.{$ field $}.$invalid && form.{$ field $}.$dirty}">
    <label for="name" class="col-sm-4 control-label">
        {$ name $}
        {% if required %} *  {% endif %}
    </label>
    <div class="col-sm-8">
        <input 
            type="{$ type $}"
            class="form-control"
            id="{$ field $}"
            ng-maxlength="{$ maxLength $}" 
            ng-model="userConfig.{$field$}" 
            autocomplete=False
            {% if required %} required  {% endif %} />
        
        <span id="{$ field $}_error" class="form-error error text-danger">

        </span>

        {% if required %}
        <span class="error text-danger" ng-show="form.{$ field $}.$error.required && form.{$ field $}.$touched">
            {$ _('This field is required') $}
        </span>
        {% endif %}
        <span class="error text-danger" ng-show="form.{$ field $}.$error.maxlength && form.{$ field $}.$touched"">
            {$ _('Max Length of 50 Chars') $}
        </span>        
    </div>
</div>
{%- endmacro %}

{% macro macro_date(name, field, required, maxLength="64") -%}
<div class="form-group" ng-class="{'has-error': form.{$ field $}.$invalid && form.{$ field $}.$dirty}">
    <label for="name" class="col-sm-4 control-label">
        {$ name $}
        {% if required %} *  {% endif %}
    </label>
    <div class="col-sm-8">
        <div class="input-group">
            <input type="text" 
                class="form-control"
                autocomplete="off"
                show-button-bar=false
                popup-placement="right bottom-right"
                uib-datepicker-popup="{{format}}"
                ng-model="dt" 
                id="{$ field $}"
                is-open="popup.opened"
                datepicker-options="dateOptions"
                close-text="Schließen" 
                alt-input-formats="altInputFormats" 
                {% if required %} required  {% endif %} />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" 
                ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
        </div>
        
        <span id="{$ field $}_error" class="form-error error text-danger">
        </span>

        {% if required %}
        <span class="error text-danger" ng-show="form.{$ field $}.$error.required && form.{$ field $}.$touched">
            {$ _('This field is required') $}
        </span>
        {% endif %}
        <span class="error text-danger" ng-show="form.{$ field $}.$error.maxlength && form.{$ field $}.$touched"">
            {$ _('Max Length of 50 Chars') $}
        </span>        
    </div>
</div>
{%- endmacro %}

{% macro macro_checkbox(name, field) -%}
<div class="checkbox" ng-class="{'has-error': form.{$ field $}.$invalid && form.{$ field $}.$dirty}">
    <label for="name" class="col-sm-4 control-label">
        {$ name $}
    </label>
    <div class="col-sm-8">
        <input 
            type="checkbox"
            id="{$ field $}"
            ng-model="userConfig.{$field$}" />
    </div>
</div>
<div class="clearfix"></div>
{%- endmacro %}
