GeoAlchemy2==0.11.1
SQLAlchemy==1.4.36
Shapely==1.8.2
WTForms==2.3.3
alembic==1.7.7
dictspec==0.2.1
natsort==8.1.0
reportlab==3.6.9
Flask==0.12.5
Flask-Assets==0.12
Flask-Babel==0.9
Flask-Login==0.5.0
flask-mailman==0.1.5
Flask-SQLAlchemy==2.5.1 
Flask-WTF==0.15.1
Flask-Minify==0.39
Flask-Script==2.0.5
WTForms-SQLAlchemy==0.3
Rtree==1.00
scriptinep3==0.3.1
speaklater3==1.4
bcrypt==3.2.2
psycopg2==2.9.3
PyHyphen==4.0.3
PyYAML==6.0
blinker==1.4
libsass==0.8.3
click==8.1.3
itsdangerous==2.0.1
markupsafe==2.0.1
# jinja2 still needed because from jinja2 import Markup, escape on flask
Jinja2==3.0.3