alembic==1.7.7
bcrypt==3.2.2
blinker==1.4
click==8.1.3
dictspec==0.2.1
Flask==0.12.5
Flask-Assets==0.12
Flask-Babel==0.9
Flask-Login==0.5.0
flask-mailman==0.1.5
Flask-Minify==0.39
Flask-Script==2.0.5
Flask-SQLAlchemy==2.5.1 
Flask-WTF==0.15.1
GeoAlchemy2==0.11.1
itsdangerous==2.0.1
# jinja2 still needed because of an import in flask 0.12.5 ---> from jinja2 import Markup, escape
# Can probably be removed in higher flask version.
Jinja2==3.0.3
libsass==0.8.3
markupsafe==2.0.1
natsort==8.1.0
psycopg2==2.9.3
PyHyphen==4.0.3
PyYAML==6.0
reportlab==3.6.9
Rtree==1.00
scriptinep3==0.3.1
Shapely==1.8.2
speaklater3==1.4
SQLAlchemy==1.4.36
WTForms==2.3.3
WTForms-SQLAlchemy==0.3