<!DOCTYPE html>
<html lang="de">
  <head>
    {% block meta %}
      {% include 'munimap/meta.html' %}
    {% endblock %}

    {% block header %}
      {% assets "libs-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}
      {% assets "app-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}
      {% assets "draw-libs-css" %}
        <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
      {% endassets %}
    {% endblock %}

  </head>
    <body ng-controller="baseController" ng-strict-di>
      {% block notifications %}
      <div class="notifications" notifications></div>
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block javascript %}
      {% endblock %}

      {% block flash %}
        {% include 'munimap/flash.html' %}
      {% endblock %}

      {% block modal_container %}
      {% endblock %}

      {% if base_config.get('MATOMO') %}
      <!-- Matomo -->
        <script type="text/javascript">
          var _paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="{$ base_config.get('MATOMO_URL') | safe $}";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '58']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript><p><img src="{$ base_config.get('MATOMO_IMAGE_URL') | safe $}" style="border:0;" alt="" /></p></noscript>
        <!-- End Matomo Code -->
        {% endif %}
    </body>
</html>

