<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="HandheldFriendly" content="true" />

{% set metaDescription = 'ALKIS und OpenStreetMap Daten gemeinsam in einer Karte.' %}
{% if app_config and app_config['app'] and app_config['app']['metaDescription'] %}
	{% set metaDescription = app_config['app']['metaDescription'] %}
{% endif %}
<meta name="description" content="{$ metaDescription $}"/>

{% set title = 'Munimap' %}
{% if app_config and app_config['app'] and app_config['app']['title'] %}
    {% set title = app_config['app']['title'] %}
{% endif %}
<title>{$ title $}</title>
