<div class="anol-featureexchange">
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-success btn-block" ng-click="download()">{$ _('Download') $}</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-success btn-block" ng-click="upload()">{$ _('Upload') $}</button>
        </div>
    </div>
    <input type="file" accept="application/vnd.geo+json" id="fileselector" />
    <div id="upload-error" class="alert alert-danger hide"></div>
</div>