<div ng-controller="geoeditorDrawController" class="geoeditor">
    <h5 class="geoeditor-header">{{ drawTitle }}</h5>
    <div class="btn-group geoeditor-draw">
        <button ng-click="drawPoint()"
                ng-show="geometriesConfig.point.enabled"
                ng-disabled="modifyActive || geometryCount.point >= geometriesConfig.point.max"
                class="btn btn-default btn-sm draw-point geoeditor-button"
                uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_POINT' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="{{ tooltipDelay }}"
                tooltip-enable="{{ tooltipEnable }}"
                tooltip-trigger="mouseenter">
            <div class="draw-icon"></div>
            <span class="geoeditor-button-text">
                {{ geometriesConfig.point.text }}
            </span>
            <span ng-class="['geoeditor-badge', 'badge', geometryCount.point < geometriesConfig.point.min ? 'badge-red' : 'badge-green']">
                {{ getBadgeText(geometryCount.point, geometriesConfig.point) }}
            </span>
        </button>
        <button ng-click="drawLine()"
                ng-show="geometriesConfig.line.enabled"
                ng-disabled="modifyActive || geometryCount.line >= geometriesConfig.line.max"
                class="btn btn-default btn-sm draw-line geoeditor-button"
                uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_LINE' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="{{ tooltipDelay }}"
                tooltip-enable="{{ tooltipEnable }}"
                tooltip-trigger="mouseenter">
            <div class="draw-icon"></div>
            <span class="geoeditor-button-text">
                {{ geometriesConfig.line.text }}
            </span>
            <span ng-class="['geoeditor-badge', 'badge', geometryCount.line < geometriesConfig.line.min ? 'badge-red' : 'badge-green']">
                {{ getBadgeText(geometryCount.line, geometriesConfig.line) }}
            </span>
        </button>
        <button ng-click="drawPolygon()"
                ng-show="geometriesConfig.polygon.enabled"
                ng-disabled="modifyActive || geometryCount.polygon >= geometriesConfig.polygon.max"
                class="btn btn-default btn-sm draw-polygon geoeditor-button"
                uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_POLYGON' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="{{ tooltipDelay }}"
                tooltip-enable="{{ tooltipEnable }}"
                tooltip-trigger="mouseenter">
            <div class="draw-icon"></div>
            <span class="geoeditor-button-text">
                {{ geometriesConfig.polygon.text }}
            </span>
            <span ng-class="['geoeditor-badge', 'badge', geometryCount.polygon < geometriesConfig.polygon.min ? 'badge-red' : 'badge-green']">
                {{ getBadgeText(geometryCount.polygon, geometriesConfig.polygon) }}
            </span>
        </button>
    </div>
    <div class="btn-group geoeditor-edit">
        <button class="draw-edit btn btn-default btn-sm"
                ng-click="toggleModify()">
            <div class="draw-icon"></div>
            {{ modifyLabel }}
        </button>
        <button ng-click="remove()"
                ng-disabled="selectedFeature === undefined"
                class="btn btn-default btn-sm draw-remove"
                uib-tooltip="{{ 'anol.draw.TOOLTIP_REMOVE' | translate }}"
                tooltip-placement="bottom"
                tooltip-popup-delay="{{ tooltipDelay }}"
                tooltip-enable="{{ tooltipEnable }}"
                tooltip-trigger="mouseenter">
            <div class="draw-icon"></div>
            {{ removeLabel }}
        </button>
    </div>
</div>
