{% from "munimap/macros/layerswitcher.html" import layers_group_item, layer_group_item %}

{% if layers_def['overlays'] | length > 0 %}
  <div ui-sortable="sortableGroups" ng-model="overlayLayers">
    <div class="overlay-item" ng-repeat="group in overlayLayers" ng-show="group.displayInLayerswitcher !== false && group !== undefined">
      <div class="group-item catalog-layer-title" ng-show="group.catalogLayer == true && group.groupLayer == false" ng-class="{'inactive': !group.getVisible()}">
        <a class="float-left" ng-if="group.metadataUrl && hideMetadata == false" target="_blank" ng-href="{{ group.metadataUrl }}">
          <span class="glyphicon glyphicon-info-sign"></span>                    
        </a>
        <span ng-if="!group.metadataUrl && hideMetadata == false" class="glyphicon glyphicon-none float-left"></span>      
        <div class="title-wrapper">
          <span class="pointer layer-title" ng-click="toggleLayerVisibleByName(group.name)">{{ group.catalog.title }}</span>
          <i class="glyphicon glyphicon-remove float-right pointer" ng-click="removeLayer(group)"></i>
        </div>
      </div> 

      <div class="group-item" ng-show="group.groupLayer == true && group.options.showGroup === true"
          ng-class="{'inactive': !groupIsVisibleByName(group.name)}">
        <span class="pointer float-left"
          ng-class="{'open-layer-group': group.options.collapsed, 
          'close-layer-group': !group.options.collapsed}"
          ng-click="group.options.collapsed=!group.options.collapsed">
        </span>
        <span ng-if="!group.options.metadataUrl && hideMetadata == false" ng-hide="group.showTransparencySlider" class="glyphicon glyphicon-none float-left"></span>
        <div class="layer-line" ng-class="{'title-wrapper-group': !group.options.metadataUrl && hideMetadata == false }">
          <span class="layer-title" ng-hide="group.showTransparencySlider"
              ng-click="toggleGroupVisibleByName(group.name)">
            {{ group.title }}
          </span>
          <i class="toggle-layer-details glyphicon glyphicon-option-vertical float-right pointer" 
              ng-click="toggleDetails(group)" title="Details anzeigen"></i>
        </div>
        <div ng-if="group.showDetails" class="layer-details slide-top">
          <div class="transparency-slider">
            <label for="transparency-slider">
              <img src="{$ url_for('static', filename='img/transparency.svg') $}" 
                  alt="Transparenz einstellen" title="Transparenz einstellen"/>
              Deckkraft: {{ (group.opacityGetterSetter() * 100).toFixed(0) }}%
            </label>
            <input id="transparency-slider" type="range" min="0" max="1" step="0.01"
                ng-model="group.opacityGetterSetter" ng-model-options="{getterSetter: true}"/>
          </div>
          <a class="metadata float-left" ng-if="group.options.metadataUrl && hideMetadata == false" 
              ng-hide="group.showTransparencySlider" target="_blank" ng-href="{{ group.options.metadataUrl }}">
            <span class="glyphicon glyphicon-info-sign"></span>
            Metadaten
            <!-- <i class="glyphicon glyphicon-new-window"></i> -->
          </a>
          <div class="remove-layer pointer" ng-if="removeLayerEnabled" ng-click="removeLayer(group)">
            <i class="glyphicon glyphicon-remove"></i>
            Layer entfernen
          </div>
        </div>
        <div ui-sortable="sortableLayer" ng-model=group.layers>
          <div class="group-layers-container" ng-repeat="layer in group.layers" 
              ng-if="layer.displayInLayerswitcher !== false" 
              ng-show="!group.options.collapsed"
              ng-class="{'inactive': !layerIsVisibleByName(layer.name)}">
            <div class="layer-line">
              <span ng-if="!layer.metadataUrl && hideMetadata == false" class="glyphicon glyphicon-none"></span>                          
              <div class="layer-title child-title" ng-click="toggleLayerVisibleByName(layer.name)">
                  <span>{{ layer.title }}</span>
              </div>
              <i class="toggle-layer-details glyphicon glyphicon-option-vertical float-right pointer" 
                  ng-click="toggleDetails(layer)" title="Details anzeigen"></i>
            </div>
            <div ng-if="layer.showDetails" class="layer-details">
              <!-- FIXME Each visible layer in a group contains all visible layers of the group. So you need to set all opacities to 0 in order to see an effect.  -->
              <!-- <div class="transparency-slider">
                <label for="transparency-slider">
                  <img src="{$ url_for('static', filename='img/transparency.svg') $}" 
                      alt="Transparenz einstellen" title="Transparenz einstellen"/>
                  Deckkraft: {{ (layer.opacity() * 100).toFixed(0) }}%
                </label>
                <input id="transparency-slider" type="range" min="0" max="1" step="0.01"
                    ng-model="layer.opacity" ng-model-options="{getterSetter: true}"/>
              </div> -->
              <a class="metadata" ng-if="layer.metadataUrl && hideMetadata == false" 
                  target="_blank" ng-href="{{ layer.metadataUrl }}">
                <span class="glyphicon glyphicon-info-sign"></span>
                Metadaten
                <!-- <i class="glyphicon glyphicon-new-window"></i> -->
              </a>
              <div class="remove-layer pointer" ng-if="removeLayerEnabled" ng-click="removeLayer(layer)">
                <i class="glyphicon glyphicon-remove"></i>
                Layer entfernen
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="group-item no-group-layer-title" ng-show="group.groupLayer == true && group.options.showGroup === false"
         ng-class="{'inactive': !groupIsVisibleByName(group.name)}">
          <div class="no-group-layers-container" ng-repeat="layer in group.layers" 
            ng-if="layer.displayInLayerswitcher !== false" 
            ng-class="{'inactive': !layerIsVisibleByName(layer.name)}">

            <a class="float-left" ng-if="group.options.metadataUrl && hideMetadata == false" target="_blank" ng-href="{{ group.options.metadataUrl }}">
              <span class="glyphicon glyphicon-info-sign"></span>                    
            </a>
            <span ng-if="!group.options.metadataUrl && hideMetadata == false" class="glyphicon glyphicon-none float-left"></span>    
            <div>
              <span class="layer-title"
                ng-click="toggleLayerVisibleByName(layer.name)">
                  {{ layer.title }}
              </span>
              <i class="glyphicon glyphicon-remove float-right pointer" ng-if="removeLayerEnabled"
                  ng-click="removeLayer(layer)"></i>
            </div>
          </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="overlay-item">
      {$ _('No overlay layers available') $}
  </div>
{% endif %}


                
