{% from "munimap/macros/layerswitcher.html" import layers_group_item, layer_group_item %}

{% if layers_def['overlays'] | length > 0 %}
  <div ui-sortable="sortableGroups" ng-model="overlayLayers">
    <div class="overlay-item" ng-repeat="group in overlayLayers" ng-show="group.displayInLayerswitcher !== false && group !== undefined">
      <div class="group-item catalog-layer-title layer-line" ng-show="group.catalogLayer == true && group.groupLayer == false" ng-class="{'inactive': !group.getVisible()}">
        <div>
          <a title="Metadaten" ng-if="group.metadataUrl && hideMetadata == false" 
              target="_blank" ng-href="{{ group.metadataUrl }}">
            <span class="glyphicon glyphicon-info-sign"></span>                    
          </a>
          <span class="pointer layer-title" ng-click="toggleLayerVisibleByName(group.name)">
            {{ group.catalog.title }}
          </span>
        </div>
        <div class="settings-line">
           <div anol-transparencysettings group="group"></div>
           <i title="Layer entfernen" class="glyphicon glyphicon-remove float-right pointer" ng-click="removeLayer(group)"></i>
        </div>
      </div> 

      <div class="group-item" ng-show="group.groupLayer == true && group.options.showGroup === true"
          ng-class="{'inactive': !groupIsVisibleByName(group.name)}">
        <span class="pointer float-left"
            ng-class="{'open-layer-group': group.options.collapsed, 'close-layer-group': !group.options.collapsed}"
            ng-click="group.options.collapsed=!group.options.collapsed">
        </span>
        <div class="layer-line">
          <div>
            <a title="Metadaten" ng-if="group.options.metadataUrl !== '' && hideMetadata == false"
                class="metadata float-left" target="_blank" ng-href="{{ group.options.metadataUrl }}">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <span class="layer-title" ng-click="toggleGroupVisibleByName(group.name)">
              {{ group.title }}
            </span>
          </div>
          <div class="settings-line">
            <div anol-transparencysettings group="group"></div>
            <i title="Gruppe entfernen" class="glyphicon glyphicon-remove pointer" 
                ng-if="removeLayerEnabled" ng-click="removeLayer(group)"></i>
          </div>
        </div>
        <div ui-sortable="sortableLayer" ng-model=group.layers>
          <div class="group-layers-container" ng-repeat="layer in group.layers" 
              ng-if="layer.displayInLayerswitcher !== false" 
              ng-show="!group.options.collapsed"
              ng-class="{'inactive': !layerIsVisibleByName(layer.name)}">
            <a ng-if="layer.metadataUrl && hideMetadata == false" target="_blank" ng-href="{{ layer.metadataUrl }}" title="Metadaten">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <div class="layer-title child-title" ng-click="toggleLayerVisibleByName(layer.name)">
              <span>{{ layer.title }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="group-item no-group-layer-title" ng-show="group.groupLayer == true && group.options.showGroup === false"
         ng-class="{'inactive': !groupIsVisibleByName(group.name)}">
          <div class="no-group-layers-container layer-line" ng-repeat="layer in group.layers"
            ng-if="layer.displayInLayerswitcher !== false" 
            ng-class="{'inactive': !layerIsVisibleByName(layer.name)}">
            <div>
                <a class="float-left" ng-if="group.options.metadataUrl && hideMetadata == false" target="_blank" ng-href="{{ group.options.metadataUrl }}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                <span class="layer-title"
                      ng-click="toggleLayerVisibleByName(layer.name)">
                    {{ layer.title }}
                </span>
            </div>
            <div class="settings-line">
                <div anol-transparencysettings group="group"></div>
                <i class="glyphicon glyphicon-remove float-right pointer" ng-if="removeLayerEnabled"
                   ng-click="removeLayer(layer)"></i>
            </div>
          </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="overlay-item">
      {$ _('No overlay layers available') $}
  </div>
{% endif %}


                
