<div class="ol-control ol-unselectable anol-searchbox dropdown">
    <div class="input-group">
        <input class="form-control"
             ng-model="searchString"
             ng-model-options="{debounce: 150}"
             ng-keyup="handleInputKeypress($event)"
             placeholder="{{ placeholder }}"
             ng-focus="handleInputFocus($event);"
             ng-blur="handleInputBlur($event);">
        <span class="input-group-btn">
          <button class="btn geocoder-list" type="button"
                ng-show="showSearchDropdown && searchDropdown"
                ng-click="showGeocoderList = !showGeocoderList; noResults=false;">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>

          <button class="btn search" type="button" ng-click="searchButton(); showGeocoderList=false;">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>

    <ul class="dropdown-menu result-list"
        ng-show="showResultList"
        ng-mousedown="handleResultListMousedown($event);"
        ng-mouseup="handleResultListMouseup($event)">

        <li ng-if="searchTerms.length > 0" class="catalog-search-nav">
            <span ng-repeat="term in searchTerms"
                ng-click="resetSteps($event, searchTerms.indexOf(term))">
                {{ term.displayText }} ---
            </span>
            <span ng-click="resetSteps($event, -1)">
                {{ 'anol.geocoder.RESET' | translate }}
            </span>
        </li>

        <li ng-repeat="result in searchResults | searchCatalogFilter:searchString:geocoder"
            ng-click="showResult(result, true)">
            <a href="#"
               ng-keydown="handleResultElementKeypress($event)"
               ng-mouseover="handleResultElementMouseover($event)"
               ng-focus="handleResultElementFocus($event)"
               ng-blur="handleResultElementBlur($event)">
               {{ result.displayText }}
            </a>
        </li>
        <li ng-if="geocoder.isCatalog"
            ng-show="(searchResults | searchCatalogFilter:searchString:geocoder).length === 0"
            class="catalog-search-no-result">
            {{ 'anol.geocoder.NO_RESULTS' | translate }}
        </li>
    </ul>

    <div class="open no-results" ng-show="showGeocoderList">
        <ul class="dropdown-menu geocoder-menu">
            <li ng-repeat="coder in baseGeocoderConfigs" ng-click="activateGeocoder(coder)">
               <span>{{ coder.title }}</span>
               <span ng-show="activeGeocoder.name == coder.name" class="active-geocoder pull-right glyphicon glyphicon-ok"></span>
            </li>

            <span ng-if="layerGeocoderConfigs.length > 0">
                <hr>
            </span>

            <li ng-repeat="coder in layerGeocoderConfigs" ng-click="activateGeocoder(coder)">
                <span>{{ coder.title }}</span>
               <span ng-show="activeGeocoder.name == coder.name" class="active-geocoder pull-right glyphicon glyphicon-ok"></span>
            </li>
        </ul>
    </div>

    <div class="open no-results"
         ng-show="noResults">
        <ul class="dropdown-menu">
            <li>{{ 'anol.geocoder.NO_RESULTS' | translate }}</li>
        </ul>
    </div>
    <div class="open search-in-progress"
         ng-show="searchInProgress">
        <ul class="dropdown-menu">
            <li>{{ 'anol.geocoder.SEARCH_IN_PROGRESS' | translate }}</li>
        </ul>
    </div>
</div>
