<div class="symbol-container">
    <div class="text-left">
    {% for icon in available_icons %}
        <img src="{$ url_for('digitize_public.icons', filename=icon.filename) $}"
             class="pointer marker-icon"
             ng-click="style.externalGraphic='{$ icon.filename $}'; style.graphicWidth={$ icon.width $}; style.graphicHeight={$ icon.height $}"
             ng-class="{'selected': style.externalGraphic === '{$ icon.filename $}'}" />
    {% if loop.index % 8 == 0 %}</div><div class="text-left">{% endif %}
    {% endfor %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-7">
        <div class="form-horizontal">
            <fieldset>
                <div class="form-group text-right">
                    <span class="slider-value-label pull-right">{{ style.graphicRotation }}°</span>
                    <label class="control-label">{$ _('rotation') $}</label>
                    <input name="graphicRotation" class="hidden" ng-model="style.graphicRotation" type="number" />
                    <div slider slider-tooltip="hide" ng-model="style.graphicRotation" handle="custom" min="-180" step="1" max="180"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-5">
        <button class="btn btn-default btn-sm"
                ng-click="style.externalGraphic=undefined">
            {$ _('Unselect') $}
        </button>
    </div>
</div>
