{% extends "munimap/base.html" %}

{% block header %}
    <link href="{$ url_for('static', filename='css/app.css') $}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{$ url_for('static', filename='translations/de_DE.js') $}"></script>
    <script type="text/javascript" src="{$ url_for('static', filename='translations/de_DE_feature_properties.js') $}"></script>

    <script type="text/javascript" src="{$ url_for('static', filename='js/vendor.bundle.js') $}"></script>
{% endblock %}
