<div ng-if="drawEnabled"
     anol-feature-popup
     layers="popupLayers"
     class="munimap-draw-popup"
     open-for="$parent.$parent.openDrawPopupFor"
     on-close="drawPopupClosed()"
     auto-pan-margin="50"
     offset="[0, -20]">
  <div ng-controller="popupController">
    <div class="popup-header" ng-switch="popupTabContent">
      <h4 ng-switch-when="propertyeditor">{$ _('GeoEditor') $}</h4>
      <h4 ng-switch-when="style">{$ _('Style') $}</h4>
      <h4 ng-switch-when="text">{$ _('Labeling') $}</h4>
      <h4 ng-switch-when="marker">{$ _('Marker') $}</h4>
    </div>
    <div class="popup-content">
      <ul class="nav nav-tabs tabs-left">
        <li ng-class="{'active': popupTabContent === 'propertyeditor'}"
            ng-show="hasFormValues"
            uib-tooltip="{$ _('Factual Data') $}"
            tooltip-placement="left"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
          <a href="#"
             ng-click="popupTabContent = 'propertyeditor'">
            <span class="glyphicon glyphicon-list"></span>
          </a>
        </li>
        <li ng-class="{'active': popupTabContent === 'style'}"
            ng-show="!isPoint || (isPoint && !isText)"
            uib-tooltip="{$ _('Style') $}"
            tooltip-placement="left"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
          <a href="#"
             ng-click="popupTabContent = 'style'">
            <span class="glyphicon glyphicon-adjust"></span>
          </a>
        </li>
        <li ng-class="{'active': popupTabContent === 'text'}"
            ng-show="isPoint && isText"
            uib-tooltip="{$ _('Labeling') $}"
            tooltip-placement="left"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
          <a href="#"
             ng-click="popupTabContent = 'text'">
            <span class="glyphicon glyphicon-text-size"></span>
          </a>
        </li>
        <li ng-class="{'active': popupTabContent === 'marker'}"
            ng-show="isPoint && !isText"
            uib-tooltip="{$ _('Marker') $}"
            tooltip-placement="left"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
          <a href="#"
             ng-click="popupTabContent = 'marker'">
            <span class="glyphicon glyphicon-map-marker"></span>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div ng-show="popupTabContent === 'propertyeditor'">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{$ _('Attribute') $}</th>
                            <th>{$ _('Value') $}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in feature.get('formValues')">
                            <th>{{key}}</th>
                            <td>{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="popupTabContent === 'style'"
             class="style">
          <div anol-feature-style-editor="feature"
               layer="layer"
               template-url="munimap/feature-style-editor.html"
               form-disabled="isMarker"
               disabled-text="{$ _('While a marker is selected, feature cannot be styled') $}">
          </div>
        </div>
        <div ng-show="popupTabContent === 'text'"
             class="text">
          <div anol-feature-style-editor="feature"
               layer="layer"
               template-url="munimap/feature-label-editor.html">
          </div>
        </div>
        <div ng-show="popupTabContent === 'marker'"
             class="marker">
          <div anol-feature-style-editor="feature"
               layer="layer"
               template-url="munimap/feature-icons.html"
               class="text-center">
          </div>
        </div>
      </div>
    </div>
    <div class="popup-footer">
      <confirm class="text-danger pull-left pointer remove-feature"
               on-confirm="removeFeature(popup, layer, feature)"
               confirm-title="{$ _('Realy remove feature?') $}"
               ok-label="{$ _('Remove') $}"
               cancel-label="{$ _('Cancel') $}"
               placement="top"
               text="{$ _('Remove feature') $}"
               ></confirm>
      <button class="btn btn-default btn-sm pull-right"
              ng-click="popup.close()">
        {$ _('Close') $}
      </button>
    </div>
  </div>
</div>
