<!DOCTYPE html>
<html lang="de">
  <head>
    {% block meta %}
      {% include 'munimap/meta.html' %}
    {% endblock %}

    <link href="{$ url_for('static', filename='css/angular-ui-switch.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/anol.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/bootstrap.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/bootstrap-tour.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/ol.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/draw/bootstrap.vertical-tabs.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/draw/bootstrap-slider.css') $}" rel="stylesheet" type="text/css">
    <link href="{$ url_for('static', filename='css/draw/spectrum.css') $}" rel="stylesheet" type="text/css">

    {% block header %}
      <link href="{$ url_for('static', filename='css/appStyle.css') $}" rel="stylesheet" type="text/css">
    {% endblock %}

  </head>
    <body>
      <div id="munimap-embedded" class="embed-responsive">
        <iframe class="embed-responsive-item" src="{$ iframe_url $}" allowfullscreen></iframe>
      </div>
      {% if current_user.is_authenticated %}
        <a href="{$ url_for('user.projects') $}" class="iframe-project-link">
          {$ _('Project list') $}
        </a>
      {% endif %}
    </body>

    <script>
      document.getElementById("munimap-embedded").style.height = window.innerHeight + "px";
      window.onresize = function(event) {
        document.getElementById("munimap-embedded").style.height = window.innerHeight + "px";
      };
    </script>
</html>

