<!DOCTYPE html>
<html lang="de">
  <head>
    {% block meta %}
      {% include 'munimap/meta.html' %}
    {% endblock %}

    {% block header %}
      <!-- TODO: libs-css -->
      <!-- TODO: app-css -->
      <!-- TODO: draw-libs-css" -->
  {% endblock %}

  </head>
    <body>
      <div id="munimap-embedded"" class="embed-responsive">
        <iframe class="embed-responsive-item" src="{$ iframe_url $}" allowfullscreen></iframe>
      </div>
      {% if current_user.is_authenticated %}
        <a href="{$ url_for('user.projects') $}" class="iframe-project-link">
          {$ _('Project list') $}
        </a>
      {% endif %}
    </body>

    <script>
      document.getElementById("munimap-embedded").style.height = window.innerHeight + "px";
      window.onresize = function(event) {
        document.getElementById("munimap-embedded").style.height = window.innerHeight + "px";
      };
    </script>
</html>

