<div class="row">
    <div class="col-xs-6">
        <div class="element-container">
            <div class="element-container-header">
                <h4>{$ _('Assigned projects') $}</h4>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="element-search form-control" ng-model="assignedProjectSearch" placeholder="{$ _('search') $}">
                </div>
            </div>
            <ul class="list-group element-container-content" ng-show="assignedProjects.length > 0" ng-style="{'max-height': containerMaxHeight}">
                <li class="list-group-item element"
                    ng-repeat="project in assignedProjects | filter:assignedProjectSearch"
                >
                    <i class="pull-left glyphicon glyphicon-warning-sign text-danger pointer"
                       ng-if="project.missingConfig"
                       ng-click="showProject(project)"
                       uib-tooltip="{$ _('Configuration missing') $}"
                       tooltip-placement="top"
                       tooltip-popup-delay="50"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"></i>
                    <span>{{ project.name }}</span>
                    <button class="btn btn-default btn-xs pull-right" ng-click="deassignProject(project)">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="element-container">
            <div class="element-container-header">
                <h4>{$ _('Available projects') $}</h4>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="element-search form-control" ng-model="availableProjectSearch" placeholder="{$ _('search') $}">
                </div>
            </div>
            <ul class="list-group element-container-content" ng-show="availableProjects.length > 0" ng-style="{'max-height': containerMaxHeight}">
                <li class="list-group-item element"
                    ng-repeat="project in availableProjects | filter:availableProjectSearch"
                >
                    <button class="btn btn-default btn-xs pull-left" ng-click="assignProject(project)">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </button>
                    <span>{{ project.name }}</span>
                    <i class="pull-right glyphicon glyphicon-warning-sign text-danger pointer"
                       ng-if="project.missingConfig"
                       ng-click="showProject(project)"
                       uib-tooltip="{$ _('Configuration missing') $}"
                       tooltip-placement="left"
                       tooltip-popup-delay="50"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>