<div class="row">
    <div class="col-xs-12">
        <form name="form" ng-submit="submit()" ng-keydown="submitViaKeypress($event)" novalidate>
            <h3 ng-if="config.name">{{ config.name }}</h3>

            <div ng-show="loading">
                {$ _('Loading ...') $}
            </div>
            <div ng-show="!loading">
              <input type="hidden" name="id" id="id" ng-model="config.name" ng-if="config.name"/>

              <div class="form-group" ng-if="!config.name" ng-class="{'has-error': form.name.$invalid && form.name.$dirty}">
                  <label for="name">{$ _('name') $}*</label>
                  <input type="text" name="name" id="name" class="form-control"
                    ng-model="config.new" required />
                  <span class="help-block" ng-show="form.name.$error.required && form.name.$touched">
                      {$ _('This field is required') $}
                  </span>
              </div>

              <div class="form-group" ng-class="{'has-error': form.descripton.$invalid && form.desciption.$dirty}">
                  <label for="code">{$ _('Code') $}</label>
                  <div ng-style="{height: hgt+ 'px'}"required ng-model="config.code"
                    ui-ace="{
                      useWrapMode : false,
                      showPrintMargin: false,
                      showGutter: true,
                      theme:'textmate',
                      mode: 'yaml',
                      firstLineNumber: 1,
                      onLoad: aceLoaded,
                      onChange: aceChanged
                    }"
                    ></div>
              </div>

              <div ng-show="localErrors.length > 0" class="alert alert-warning">
                <h4>{$ _('Local errors') $}</h4>
                <p ng-repeat="error in localErrors">
                  {{ error }}
                </p>
              </div>

              <div ng-show="errors.length > 0" class="alert alert-warning">
                <h4>{$ _('Global Project Errors') $}</h4>
                <p ng-repeat="error in errors">
                  {{ error }}
                </p>
              </div>
              <div class="button-bar">
                <div class="pull-right">
                  <a class="btn btn-default btn-sm" href="/admin/maps/list">
                      {$ _('back') $}
                  </a>

                  <button ng-show="(errors || localErrors) && informalOnly"
                      ng-click="adminSave()" class="btn btn-sm btn-default"
                      type="button"
                      ng-disabled="form.$invalid">
                      {$ _('submit despite error') $}
                  </button>

                  <button class="btn btn-sm btn-success" type="submit"
                      ng-disabled="form.$invalid">
                      {$ _('Save') $}
                  </button>
                </div>
              </div>
            </div>
        </form>
    </div>
</div>
