<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">{$ _('name') $}</th>
          <th>{$ _('Functions') $}</th>
          <th colspan="2">
            <a ng-href="/admin/projects/add" class="btn btn-default btn-xs">{$ _('Add project') $}</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="{{ project.name }}"
            ng-repeat="project in projects | filter:listSearch"
            ng-switch on="projectStatus(project)"
            ng-class="{'danger': project.missingConfig}">
          <td>
            <a ng-href="/admin/projects?id={{ protectedProjects[project.name].id }}"
              ng-if="protectedProjects[project.name] !== undefined">
             {{ project.name }}
           </a>
           <span ng-if="protectedProjects[project.name] === undefined">
             {{ project.name }}
           </span>
           <i class="glyphicon glyphicon-pencil pointer opacity" ng-click="showRenameForm = !showRenameForm"></i>
            <form ng-submit="rename(project.name, newName)"  class="mt-1" ng-show="showRenameForm">
              <input type="text" ng-init="config.name" ng-model="newName">
              <button type="submit" class="btn btn-default btn-xs">
                {$ _('rename') $}
              </button>
            </form>
          </td>
          <td>
            <a class="btn btn-xs btn-default"
               ng-if="project.name + '.yaml' === '{$ config['DEFAULT_APP_CONFIG'] $}'"
               ng-href="{$ url_for('munimap.index', _external=True) $}"
               target="_blank">
              {$ _('show app') $}
            </a>
            <a class="btn btn-xs btn-default"
               ng-if="project.name + '.yaml' !== '{$ config['DEFAULT_APP_CONFIG'] $}'"
               ng-href="{$ url_for('munimap.index', _external=True) $}app/{{ project.name }}"
               target="_blank">
              {$ _('show app') $}
            </a>
          </td>
          <td>
              <a ng-href="/admin/projects/edit/{{ project.name }}"
                class="btn btn-default btn-xs">{$ _('Edit') $}</a>
              <confirm class="btn btn-default btn-xs"
                     on-confirm="removeProject(project.name)"
                     confirm-title="{$ _('Delete Project?') $}"
                     ok-label="{$ _('Delete') $}"
                     cancel-label="{$ _('Cancel') $}"
                     placement="left"
                     text="{$ _('Delete') $}"
              ></confirm>
          </td>

          <td ng-switch-when="protected">
            <confirm class="btn btn-default btn-xs"
                     on-confirm="unprotect(protectedProjects[project.name])"
                     confirm-title="{$ _('When project is unprotected all assignments of this project will be lost?') $}"
                     ok-label="{$ _('Unprotect') $}"
                     cancel-label="{$ _('Cancel') $}"
                     placement="left"
                     text="{$ _('Unprotect') $}"
            ></confirm>
          </td>
          <td ng-switch-when="missing">
            <confirm class="btn btn-default btn-xs"
                     on-confirm="unprotect(project)"
                     confirm-title="{$ _('When project is removed all assignments of this project will be lost') $}"
                     ok-label="{$ _('Remove') $}"
                     cancel-label="{$ _('Cancel') $}"
                     placement="left"
                     text="{$ _('Remove') $}"
            ></confirm>
          </td>
          <td ng-switch-default>
            <confirm class="btn btn-default btn-xs"
              on-confirm="protect(project)"
              confirm-title="{$ _('Protect project?') $}"
              ok-label="{$ _('protect') $}"
              cancel-label="{$ _('Cancel') $}"
              placement="left"
              text="{$ _('protect') $}"
            ></confirm>
          </td>
          <td ng-show="enviroment=='test'">
            <confirm 
              class="btn btn-xs btn-default btn-success"
              on-confirm="transfer(project)"
              confirm-title="{$ _('transfer project file') $}"
              ok-label="{$ _('transfer') $}"
              cancel-label="{$ _('Cancel') $}"
              placement="left"
              text="{$ _('transfer') $}"
            ></confirm>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>