<div anol-map class="map transport-map" style="position: relative;">
  <div anol-attribution
       tooltip-delay="{{ tooltipDelay}}">
  </div>
  <div anol-zoom
       ng-style="hasTouch ? mobileZoomButtonsPosition : desktopZoomButtonsPosition"
       tooltip-delay="{{ tooltipDelay}}">
  </div>
  <div anol-rotation
     ng-style="hasTouch ? mobileRotationButtonPosition : desktopRotationButtonPosition"
     tooltip-delay="{{ tooltipDelay }}">
  </div>

  <div ng-if="searchEnabled"
       class="hidden-xs"
       template-url="munimap/searchbox.html"
       anol-geocoder-searchbox
       show-search-dropdown="searchDropdown"
       graphic-file-url="{$ url_for('static', filename='img/') $}"
       to-url-marker="true"
      >
  </div>

  <div anol-feature-popup close-on-zoom="true" opening-direction="bottom" layers="stationPopupLayers" multiselect mobile-fullscreen="false" allow-drag="true" class="station-layer">
    <div anol-feature-properties selects="$parent.selects" template-url="munimap-transport/station-properties.html"></div>
  </div>

  <div anol-drag-popup>
    <div anol-feature-properties selects="$parent.selects" template-url="munimap-transport/station-properties.html"></div>
  </div>

  <div anol-feature-popup opening-direction="top" layers="constructionPopupLayers" mobile-fullscreen="false" auto-pan-on-size-change="true" class="station-layer">
    <div anol-feature-properties feature="$parent.feature" layer="$parent.layer" template-url="munimap-transport/construction-properties.html"></div>
  </div>

  <div anol-get-feature-info
       custom-target-filled="featureInfoCallback"
       before-request="featureInfoBeforeRequest"
       proxy-url="{$ url_for('munimap.featureinfo_proxy') $}"
       popup-opening-direction="bottom"
       waiting-marker-src="{$ url_for('static', filename='img/get-featureinfo-loading.svg') $}"
       waiting-marker-offset="[-14, -14]">
  </div>

   <div ng-if="geolocationEnabled"
       ng-style="hasTouch ? mobileGeolocationButtonPosition : desktopGeolocationButtonPosition"
       anol-geolocation="{{geolocationConfig.tracking}}"
       highlight="{{geolocationConfig.resultVisible}}"
       result-style="{
          strokeColor: geolocationConfig.style.strokeColor,
          strokeWidth: geolocationConfig.style.strokeWidth,
          fillColor: geolocationConfig.style.fillColor,
          externalGraphic: '{$ url_for('static', filename='img/') $}' + geolocationConfig.style.graphicFile,
          graphicWidth: geolocationConfig.style.graphicWidth,
          graphicHeight: geolocationConfig.style.graphicHeight,
          graphicYAnchor: geolocationConfig.style.graphicYAnchor,
          graphicScale: geolocationConfig.style.graphicScale
       }"
       zoom="{{geolocationConfig.zoom}}"
       tooltip-delay="{{tooltipDelay}}">
  </div>
  <div ng-if="overviewMapEnabled"
       anol-overview-map
       tooltip-placement="right"
       tooltip-delay="{{tooltipDelay}}">
  </div>
  <div anol-scale-line
       ng-if="scaleLineEnabled">
  </div>
  <div ng-if="menuButtonEnabled"
       ng-style="hasTouch ? mobileMenuButtonPosition : desktopMenuButtonPosition"
       class="ol-control menu-control">
    <button ng-click="toggleMenu()"
            uib-tooltip="{{ sidebar.open ? '{$ _('Close menu') $}' : '{$ _('Open menu') $}' }}"
            tooltip-placement="right"
            tooltip-popup-delay="{{ tooltipDelay }}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </div>
  <div ng-if="homeButtonEnabled"
       ng-style="hasTouch ? mobileHomeButtonPosition : desktopHomeButtonPosition"
       class="ol-control home-control">
    <button ng-click="goHome()"
            uib-tooltip="{$ _('Startposition') $}"
            tooltip-placement="right"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
      <span class="glyphicon glyphicon-home"></span>
    </button>
  </div>
  <service-button ng-if="serviceButtonEnabled"
                  ng-style="hasTouch ? mobileServiceButtonPosition : desktopServiceButtonPosition"
                  menu-style="hasTouch ? mobileServiceMenuPosition : desktopServiceMenuPosition"
                  >
    <a anol-measure="point"
       geodesic="false"
       title="Koordinate"
       label-segments="measureLabelSegmentsEnabled"
       add-to-map="false"
       class="list-group-item"
       measure-result-callback="measureCallback"
       deactivate="$parent.$parent.$parent.deactivatePointMeasure"
       deactivated-callback="$parent.$parent.$parent.onPointMeasureDeactivated"
       activated-callback="$parent.$parent.$parent.onPointMeasureActivated">
    </a>
    <a anol-measure="line"
       geodesic="false"
       title="Strecke"
       label-segments="measureLabelSegmentsEnabled"
       auto-disable="true"
       add-to-map="false"
       class="list-group-item"
       deactivate="$parent.$parent.$parent.deactivateLineMeasure"
       deactivated-callback="$parent.$parent.$parent.onLineMeasureDeactivated"
       activated-callback="$parent.$parent.$parent.onLineMeasureActivated">
    </a>
    <a anol-measure="area"
       geodesic="false"
       title="Fläche"
       auto-disable="true"
       label-segments="measureLabelSegmentsEnabled"
       add-to-map="false"
       class="list-group-item"
       deactivate="$parent.$parent.$parent.deactivateAreaMeasure"
       deactivated-callback="$parent.$parent.$parent.onAreaMeasureDeactivated"
       activated-callback="$parent.$parent.$parent.onAreaMeasureActivated">
    </a>
    <a ng-if="hasTour"
       class="list-group-item pointer"
       ng-click="restartTour()">
      {$ _('Restart tour') $}
    </a>
  </service-button>
  <div class="ol-control measure-point-result"
       ng-show="$parent.measurePointResultVisible">
    <span class="closer pointer">
      <i class="glyphicon glyphicon-remove"
         ng-click="$parent.measurePointResultVisible=false;$parent.deactivatePointMeasure()">
      </i>
    </span>
    <div class="row">
      <div class="col-xs-10">
        <select class="form-control input-sm" ng-model="$parent.pointMeasureResultSrs">
          <option value="EPSG:4326">{$ _('WGS 84') $}</option>
          <option value="EPSG:25832">{$ _('UTM 32') $}</option>
          <option value="EPSG:3857">{$ _('Web Mercator') $}</option>
        </select>
      </div>
    </div>
    <div class="selectable mt-0-5">
      <span ng-bind="pointMeasureResult.lon"></span>, <span ng-bind="pointMeasureResult.lat"></span>
    </div>
  </div>

   <div class="ol-control menu-control">
    <button ng-click="toggleMenu()"
            uib-tooltip="{$ _('Menu') $} {{ sidebar.open ? '{$ _('close') $}' : '{$ _('open') $}' }}"
            tooltip-placement="right"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </div>

  <div class="ol-control timetable-control visible-xs">
    <button ng-click='toggleTimetable(showTimetable)'
            uib-tooltip="{$ _('Open Timetable') $}"
            tooltip-placement="right"
            tooltip-popup-delay="{{tooltipDelay}}"
            tooltip-trigger="mouseenter"
            tooltip-enable="showTooltip">
      <span class="glyphicon glyphicon-time"></span>
    </button>
  </div>

  <div ng-if="layerswitcherEnabled">
    <div anol-layerswitcher template-url="munimap-transport/layerswitcher.html"></div>
  </div>
  <div class="ol-control map-logo">
    <img src="{$ url_for('static', filename='img/logo_transport.png') $}">
  </div>
  {% include 'transport/app/timetable.html' %}
</div>

<script type="text/ng-template" id="munimap-transport/station-properties.html">
    {% include 'transport/app/ng-templates/station-properties.html' %}
</script>

<script type="text/ng-template" id="munimap-transport/construction-properties.html">
    {% include 'transport/app/ng-templates/construction-properties.html' %}
</script>

<script type="text/ng-template" id="munimap-transport/layerswitcher.html">
    {% include 'transport/app/ng-templates/layerswitcher.html' %}
</script>

<script type="text/ng-template" id="munimap/searchbox.html">
  {% include 'munimap/app/ng-templates/searchbox.html' %}
</script>

<script type="text/ng-template" id="munimap/servicebutton.html">
  {% include 'munimap/app/ng-templates/servicebutton.html' %}
</script>
