{% extends "munimap/app/base.html" %}

{% from "munimap/macros/layers.html" import create_layers %}

{% block header %}
  {$ super() $}
  {% assets "digitize-libs-css" %}
    <link href="{$ ASSET_URL $}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}

{% block body %}
    <div ng-controller="digitizeController">
      <div class="app-content hide" ng-class="{'show': appReady === true}">

      {% block sidebar %}
        {% include 'digitize/app/sidebar.html' %}
      {% endblock%}

      {% block map %}
        {% include 'digitize/app/map.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    var appConfig = {$ app_config | tojson $};
    var saveUrl = "{$ url_for("digitize.features") $}";
    var imageUrl = '{$ url_for("static", filename="img/") $}';    
  </script>
  {$ super() $}
  {% assets "digitize-js" %}
      <script type="text/javascript" src="{$ ASSET_URL $}"></script>
  {% endassets %}   
  <script type="text/javascript">
    angular.module('munimapBase')
      .constant('KeyZoomText', '{$ _('Use ctrl + wheel to zoom') $}')
      .constant('TwoFingersPinchDragText', '{$ _('Use two fingers to move the map') $}')
      .constant('ProjectSettings', []);

    angular.module('munimap').config(['LayersServiceProvider', function(LayersServiceProvider) {
      var layers = {$ create_layers(layers_def) $};
      var drawLayers = [
      {% for layer in draw_layers %}
        new anol.layer.StaticGeoJSON({
          title: '{$ layer["title"] $}',
          name: '{$ layer["name"] $}',
          propertiesSchema: {$ layer["properties_schema"] | tojson $},
          propertiesSchemaFormOptions: {$ layer["properties_schema_form_options"] | tojson $},
          styleSchema: {$ layer["style_schema"] | tojson $},
          styleSchemaFormOptions: {$ layer["style_schema_form_options"] | tojson $},
          labelSchema: {$ layer["label_schema"] | tojson $},
          labelSchemaFormOptions: {$ layer["label_schema_form_options"] | tojson $},
          externalGraphicPrefix: '{$ url_for("digitize_public.icons", filename="") $}',
          {% if layer["style"] %}style: {$ layer["style"] | tojson $},{% endif %}
          editable: true,
          saveable: true,
            olLayer: {
              source: {
                dataProjection: 'EPSG:25832',
                url: '{$ layer["url"] $}'
              }
            }
        }){% if not loop.last %},{% endif %}
      {% endfor %}
      ];
      LayersServiceProvider.setLayers(layers.concat(drawLayers));
    }]);
  </script>

{% endblock %}