name: Release

on: workflow_dispatch

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: stadt-bielefeld/bielefeldgeoclient

jobs:
  publish:
    runs-on: ubuntu-22.04

    permissions:
      packages: write
      id-token: write
      contents: write

    steps:
      - name: Install poetry
        uses: abatilo/actions-poetry@v4

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          # Disabling shallow clone is needed for correctly determining next release with semantic release
          fetch-depth: 0
          persist-credentials: false

      - name: Semantic release
        id: semantic
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to the Container registry
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          # We use a PAT here since GITHUB_TOKEN does not
          # trigger other workflows (e.g. updating gh-pages)
          password: ${{ secrets.GH_RELEASE_TOKEN }}

      - name: Build and push Docker image
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.semantic.outputs.new_release_version }}
